@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
:root{
    --cor-de-fundo: #111010;
    --cor-principal: #F7B733;
    --cor-secundaria: #FC4B1A;
    --cor-texto-principal: #F4F4F5;
    --cor-texto-secundaria: #0f0f0f;
    --cor-de-fundo-secundaria: #18181B;
}
body{
    background-color: var(--cor-de-fundo);
}
header{
    padding-left: 32px;
    padding-right: 32px;
    height: 100px;
    background-color: var(--cor-de-fundo-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h3{
        font-size: 1.3em;
        color: var(--cor-texto-principal);
        transition: all 0.3s;
        background-color: var(--cor-de-fundo-secundaria);
        border-radius: 25px;
}
header h3:hover{
        font-size: 1.4em;
        background-color: var(--cor-de-fundo);
}
nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav a{
    color: var(--cor-texto-secundaria);
    font-weight: 400;
    transition: all 0.35s;
}
nav a:hover{
    color: var(--cor-texto-principal);
    font-weight: 700;
}
.btn{
    background-color: var(--cor-texto-principal);
    color: var(--cor-de-fundo-secundaria);
    padding: 0.9em;
    font-weight: 600;
    border-radius: 12px;
    transition: all 0.55s;
    border: 1.5px solid var(--cor-texto-principal);
}
.btn:hover{
    background-color: transparent;
    color: var(--cor-texto-principal);
}
.btn-outline{
    background-color: transparent;
    color: var(--cor-texto-principal);
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 12px;
    transition: all 0.55s;
    border: 1.5px solid var(--cor-texto-principal);
}
.btn-outline:hover{
    background-color: var(--cor-texto-principal);
    color: var(--cor-de-fundo);
}
.banner{
    min-height: 80vh;
    background-image: url(../img/sol.png);
    background-position: bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.banner h2{
    color: var(--cor-texto-principal);
    font-size: 3em;
    font-weight: 900px;
}
.banner h3{
    color: var(--cor-texto-secundaria);
    font-size: 1.5em;
    font-weight: 500px;
}
.banner div{
    margin-top: 30px;
}
.conheca-app{
    background-color: var(--cor-de-fundo-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.conheca-app h3{
    color: var(--cor-principal);
    font-weight: 500px;
    font-size: 0.8em;
    text-transform: uppercase;
}
.conheca-app h1{
    color: var(--cor-texto-principal);
    font-weight: 900px;
    font-size: 2em;
}
.conheca-app p{
    color: var(--cor-texto-secundaria);
    font-size: 0.8em;
    font-weight: 200px;
}
.conheca-app div{
    max-width: 500px;
}
.conheca-app img{
    max-width: 70%;
}
footer{
    text-align: center;
    padding: 20px 15px;
}
footer h3{
    color: var(--cor-texto-principal);
    font-size: 1.2em;
    margin-bottom: 30px;
    transition: all 0.5s;
}
footer h3:hover{
    color: var(--cor-texto-secundaria);
    font-size: 1.25em;
    margin-bottom: 30px;
}
.icones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icones p{
    color: var(--cor-texto-secundaria);

}
@media screen and (max-width: 768px) {
    .banner h2{
        font-size: 2.2em;
    }
    .banner h3{
        font-size: 1.3em;
    }
    .conheca-app{
        padding: 0px 15px;
    }
}
@media screen and (max-width: 426px) {
    header{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 15px;
        height: auto;
    }
    nav{
        flex-direction: column;
        padding-top: 30px;
    }
    .banner img{
        width: 80%;
    }
    .banner h2{
        font-size: 1.25em;
    }
    .banner h3{
        font-size: 1em;
    }
    .conheca-app{
        flex-direction: column;
    }
}
@media screen and (max-width:376) {
    .icones{
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width:321px){
    .banner{
        min-width: 250px;
    }
}